POKEDEX_SERVICE_PORT=8081
POKEDEX_BFF_PORT=8080
AUTH_SERVICE_PORT=8082
POKEDEX_SERVICE_URL=http://pokedex-service:8081
AUTH_SERVICE_URL=http://auth-service:8082
JWT_SECRET=dev-secret
POSTGRES_DB=pokedex_dev_db
POSTGRES_USER=pokedex
POSTGRES_PASSWORD=pokedex
REDIS_PORT=6379
