POKEDEX_SERVICE_PORT=8081
POKEDEX_BFF_PORT=8080
POKEDEX_SERVICE_URL=http://pokedex-service:8081
JWT_SECRET=dev-secret
POSTGRES_DB=pokedex_dev_db
POSTGRES_USER=pokedex
POSTGRES_PASSWORD=pokedex
REDIS_PORT=6379
